.filterSelect {
  @media screen and (max-width: 50em) {
    display: none;
  }
}

// mobile
.mobileFilters {
  display: none;

  @media screen and (max-width: 50em) {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
}
