.button {
  padding: 1.8rem 1.2rem;
  color: var(--color-gray-50);
  text-align: center;
  line-height: 1;
  font-weight: 600;
}

.cta {
  background-color: var(--color-primary-600);
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-primary-500);
  }
}

.gray {
  background-color: var(--color-gray-200);
  transition: all 0.2s;

  &:hover {
    background-color: var(--color-gray-300);
  }
}

.buttonLink {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  line-height: 1;
  font-weight: 600;
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color-gray-800);
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.2s;
  }

  & svg {
    transition: all 0.2s;
  }

  &:hover {
    &::after {
      width: calc(100% + 2.4rem);
    }

    & svg {
      translate: 2.4rem 0;
    }
  }
}
