.footer {
  background-color: var(--color-primary-600);
  padding: 9.6rem 4.8rem;
  color: var(--color-gray-50);

  & h3 {
    color: var(--color-gray-50);
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;

    @media screen and (max-width: 50em) {
      align-items: flex-start;
    }
  }
}

.contact {
  font-weight: 600;
  display: flex;
  gap: 9.6rem;

  & a {
    transition: all 0.2s;

    &:hover {
      opacity: 100% !important;
    }
  }

  @media screen and (min-width: 50em) {
    &:hover a {
      opacity: 50%;
    }
  }

  @media screen and (max-width: 50em) {
    flex-direction: column;
    gap: 1.6rem;
  }
}

.social {
  display: flex;
  gap: 9.6rem;

  & a {
    height: 4.8rem;
    transition: all 0.2s;

    & svg {
      width: 4.8rem;
      height: 4.8rem;
    }

    &:hover {
      opacity: 100% !important;
    }
  }

  @media screen and (min-width: 50em) {
    &:hover a {
      opacity: 50%;
    }
  }

  @media screen and (max-width: 50em) {
    gap: 3.2rem;
  }
}
