.header {
  padding: 2.4rem 4.8rem;
  border-bottom: 1px solid var(--color-gray-400);
  background-color: var(--color-gray-white);
  position: fixed;
  width: 100vw;
  z-index: 999;

  // for desktop only
  @media screen and (min-width: 50em) {
    &:hover {
      .navItem {
        opacity: 50%;
      }
    }
  }
}

.nav {
  @media screen and (max-width: 50em) {
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 0.2s;

    background-color: var(--color-gray-white);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    overflow-y: scroll;

    &.open {
      left: 0;
    }
  }
}

.mobileClose {
  display: none;

  @media screen and (max-width: 50em) {
    display: block;
    width: 100%;
  }
}

.ul {
  display: flex;
  gap: 6.4rem;
  justify-content: center;

  & li {
    list-style: none;
    color: var(--color-gray-800);
  }

  @media screen and (max-width: 50em) {
    flex-direction: column;
    gap: 0;
    justify-content: baseline;

    padding: 0 2.4rem;
  }
}

.navItem {
  transition: all 0.2s;

  &:hover {
    opacity: 100% !important;
  }

  @media screen and (max-width: 50em) {
    border-bottom: 1px solid var(--color-gray-400);
    padding: 1.6rem 0;
  }
}

.navLink {
  box-shadow: inset 0 -2px 0 0 transparent;
  transition: all 0.2s;
  font-weight: 600;

  &.active {
    box-shadow: inset 0 -2px 0 0 var(--color-primary-600);
  }

  @media screen and (max-width: 50em) {
    display: block;
    width: 100%;

    &.active {
      box-shadow: none;
    }
  }
}

// Dropdown styles

// Drop down
.dropdownParent {
  position: relative;

  & a {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    cursor: pointer;
  }

  /* 800 and up */
  @media screen and (min-width: 50em) {
    &:hover {
      & .dropdownWrapper {
        pointer-events: all;
      }

      & .dropdownList {
        opacity: 1;
        visibility: visible;
        translate: 0 0;
      }

      & svg {
        rotate: 90deg;
      }
    }
  }

  @media screen and (max-width: 50em) {
    & a {
      display: flex;
      justify-content: space-between;
    }
  }
}

.dropdownWrapper {
  padding-top: 0.8rem;
  position: absolute;
  top: 100%;
  left: 0;
  pointer-events: none;

  @media screen and (max-width: 50em) {
    position: static;
    padding-top: 0;
    pointer-events: all;
  }
}

.dropdownList {
  width: max-content;

  list-style: none;
  padding: 1.6rem;
  background-color: var(--color-gray-50);
  border-top: 2px solid var(--color-primary-600);

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  /* animation */
  opacity: 0;
  visibility: hidden;
  translate: 0 -1.6rem;
  transition: all 0.2s;

  @media screen and (max-width: 50em) {
    border-top: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
    gap: 0.8rem;
    max-height: 0;
    translate: 0 0;
    pointer-events: none;
    padding-left: 1.6rem;

    & li {
      padding: 0;
      border: none !important;
      color: var(--color-gray-600);
    }

    &.open {
      max-height: 50rem;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      padding-top: 0.8rem;
    }
  }
}

// Mobile Nav
.menuButton {
  display: none;

  width: 5.6rem;
  height: 5.6rem;
  background: none;

  @media screen and (max-width: 50em) {
    display: block;
  }

  & span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-gray-800);
    transition: all 0.2s;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--color-gray-800);
      position: absolute;
      top: -1.3rem;
      left: 0;
      transition: all 0.2s;
    }

    &::after {
      content: "";
      display: block;
      width: 50%;
      height: 2px;
      background-color: var(--color-gray-800);
      position: absolute;
      top: 1.2rem;
      left: 0;
      transition: all 0.2s;
    }
  }
}
