.select {
  font-size: 1.8rem;
  font-family: var(--font-poppins);
  color: inherit;
  letter-spacing: 0px;
  display: flex;
  gap: 0.8rem;
  position: relative;

  & svg {
    transition: all 0.2s;
  }

  @media screen and (max-width: 50em) {
    position: unset;
  }
}

.select:global(.open) {
  & .dropdown {
    display: flex;
  }

  & svg {
    rotate: 90deg;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  translate: 0 0.8rem;

  display: none;
  width: max-content;
  z-index: 999;

  list-style: none;
  padding: 1.6rem;
  background-color: var(--color-gray-50);
  border-top: 2px solid var(--color-primary-600);

  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;

  @media screen and (max-width: 50em) {
    translate: 0 0;
    width: 100%;
  }
}
