.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  align-items: start;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & img {
      width: 100%;
      height: auto;
      transition: all 0.2s;
    }

    & img:hover {
      scale: 1.1;
    }
  }
}
