.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  & img {
    width: 100%;
    max-width: 50rem;
    height: auto;
  }
}
