.hero {
  min-height: 95vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 50%),
      rgba(0, 0, 0, 50%)
    ),
    url("/assets/images/shop/SMOKESIGNALS-48.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  & h1,
  & p {
    color: var(--color-gray-50);
  }

  & p {
    font-size: 2.4rem;
    font-weight: 600;
  }
}
