.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;

  @media screen and (max-width: 50em) {
    grid-template-columns: 1fr;
  }
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 100%;
    max-width: 50rem;
    height: auto;
  }
}
