.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.8rem;

  & h2 {
    line-height: 0.85;
  }
}

.sort {
  @media screen and (max-width: 50em) {
    display: none !important;
  }
}

.columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2.4rem;

  @media screen and (max-width: 50em) {
    grid-template-columns: 1fr;
  }
}
